.jumbotron {
 background-image: url(images/skyline.png);
 
 
 
}

h1{
    text-shadow : 2px 2px black;
}

body{
    background-image: url(images/world.png);
    color: rgb(46, 133, 11);
    object-fit: cover
}

#bars{
    
}